/*-----------------------------------------------------------------------------------

 Theme Name: Arco
 Theme URI: http://
 Description: The Multi-Purpose Onepage Template
 Author: ui-themez
 Author URI: http://themeforest.net/user/ui-themez
 Version: 1.0

 Main Color   : #2AAFC0
 main Font    : Rubik

-----------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------

 == Table Of Content

	01 Basics
	02 Buttons
	03 Navbar
	04 Header
	05 Hero
	06 section-box
	07 Services
	08 Numbers
	09 Works
	10 Team
	11 Price
	12 Testimonials
	13 Blog
	14 Subscribe
	15 Contact-Info
	16 Contact
	17 Footer
	18 Responsive
 

---------------------------------------------------------------- */
/* ----------------------------------------------------------------
     [ 01 Start Basics ]
-----------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
    list-style: none;
    word-wrap: break-word;
  }
  
  body {
    color: #000;
    line-height: 1.3;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden !important;
  }
  
  p {
    font-size: 15px;
    font-weight: 300;
    color: #7f7f7f;
    line-height: 1.6;
    margin: 0;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  span, a, a:hover {
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }
  
  .section-padding {
    padding: 40px 0;
  }
  
  .section-head {
    margin-bottom: 80px;
  }
  .section-head h6 {
    color: #333;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    padding: 0 15px;
    position: relative;
  }
  .section-head h6:before, .section-head h6:after {
    content: '';
    width: 40px;
    height: 1px;
    background-color: #2AAFC0;
    position: absolute;
    bottom: 3px;
  }
  .section-head h6:before {
    left: -40px;
  }
  .section-head h6:after {
    right: -40px;
  }
  .section-head h4 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .bg-gray {
    background: #f7f7f7;
  }
  
  .o-hidden {
    overflow: hidden;
  }
  
  .position-re {
    position: relative;
  }
  
  .full-width {
    width: 100% !important;
  }
  
  .lg-line-height {
    line-height: 1.5;
  }
  
  .bg-img {
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .bg-fixed {
    background-attachment: fixed;
  }
  
  .valign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .v-middle {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
  }
  
  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 15px;
    line-height: .7;
  }
  
  .owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    margin: 0 7px;
    border-radius: 50%;
    background: #ddd;
  }
  
  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: #2AAFC0;
  }
  
  /* ----------------------------------------------------------------
       [ End Basics ]
  -----------------------------------------------------------------*/
  /* ----------------------------------------------------------------
       [ 02 Start Buttons ]
  -----------------------------------------------------------------*/
  .butn {
    padding: 14px 30px;
    background: #fff;
    border: 1px solid transparent;
    position: relative;
    z-index: 3;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    -webkit-transition: all .4s;
    transition: all .4s;
    cursor: pointer;
    outline: none !important;
    overflow: hidden;
  }
  .butn span {
    position: relative;
    z-index: 2;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .butn:before, .butn:after {
    content: '';
    width: 0;
    height: 100%;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: width 0.4s;
    transition: width 0.4s;
    z-index: 1;
    opacity: .4;
  }
  .butn:after {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    background: #fff;
    opacity: 1;
  }
  .butn:hover:before, .butn:hover:after {
    width: 100%;
  }
  .butn:hover:after {
    -webkit-transition-delay: .2s;
            transition-delay: .2s;
  }
  .butn:hover span {
    -webkit-transition-delay: .2s;
            transition-delay: .2s;
  }
  
  .butn-bg {
    background: #2AAFC0;
    border-color: #2AAFC0;
    color: #fff;
  }
  .butn-bg:hover span {
    color: #2AAFC0;
  }
  
  .butn-light {
    background: #fff;
  }
  .butn-light:before, .butn-light:after {
    background: #2AAFC0;
  }
  .butn-light:hover span {
    color: #fff;
  }
  .butn-light span {
    color: #2AAFC0;
  }
  
  /* ----------------------------------------------------------------
       [ End Buttons ]
  -----------------------------------------------------------------*/
  /* ----------------------------------------------------------------
       [ 03 Start Navbar ]
  -----------------------------------------------------------------*/
  .navbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: transparent;
    z-index: 9;
    min-height: 80px;
  }
  .navbar .icon-bar {
    color: #fff;
  }
  .navbar .navbar-nav .nav-link {
    font-size: 13px;
    font-weight: 500;
    color: #eee;
    letter-spacing: .5px;
    margin: 15px 5px;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .navbar .navbar-nav .active {
    color: #2AAFC0 !important;
  }
  
  .nav-scroll {
    background: #fff;
    border-bottom: 1px solid rgba(12, 12, 12, 0.04);
    padding: 0;
    position: fixed;
    top: -100px;
    left: 0;
    width: 100%;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  .nav-scroll .icon-bar {
    color: #222;
  }
  .nav-scroll .navbar-nav .nav-link {
    color: #222;
  }
  .nav-scroll .navbar-nav .logo {
    padding: 15px 0;
    color: #111;
  }
  
  .logo {
    padding: 15px 0;
    width: 300px;
  }
  
  /* ----------------------------------------------------------------
       [ End Navbar ]
  -----------------------------------------------------------------*/
  /* ----------------------------------------------------------------
       [ 04 Start Header ]
  -----------------------------------------------------------------*/
  .header {
    min-height: calc(100vh + 80px);
    padding-bottom: 80px;
    overflow: hidden;
    color: white;
  }
  .header .caption .o-hidden {
    display: inline-block;
  }
  .header .caption h4 {
    font-weight: 200;
    letter-spacing: 4px;
    -webkit-animation-delay: .2s;
            animation-delay: .2s;
  }
  .header .caption h1 {
    margin: 10px 0;
    font-size: 60px;
    font-weight: 500;
    font-family: inherit;
    word-spacing: 2px;
    letter-spacing: 2px;
    -webkit-animation-delay: .6s;
            animation-delay: .6s;
  }
  .header .caption p {
    font-size: 15px;
    font-weight: 300;
    color: #eee;
    letter-spacing: 1px;
    word-spacing: 2px;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .header .caption p span {
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 0 5px;
    padding-right: 14px;
    position: relative;
  }
  .header .caption p span:last-child {
    padding: 0;
  }
  .header .caption p span:last-child:after {
    display: none;
  }
  .header .caption p span:after {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #2AAFC0;
    position: absolute;
    top: 10px;
    right: 0;
    opacity: .5;
  }
  .header .caption .butn {
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
  }
  
  .slider .owl-item, .slider-fade .owl-item {
    height: 100vh;
    position: relative;
  }
  .slider .item, .slider-fade .item {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  .slider .item .caption, .slider-fade .item .caption {
    z-index: 9;
  }
  .slider .owl-theme .owl-dots, .slider-fade .owl-theme .owl-dots {
    position: absolute;
    bottom: 5vh;
    width: 100%;
  }
  
  .creative {
    min-height: 105vh;
  }
  .creative .svg {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    z-index: 2;
  }
  .creative .svg svg {
    fill: #fff;
    width: 101%;
  }
  
  .wave:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -5%;
    width: 110%;
    height: 100px;
    background-image: url(../img/wave.svg);
    background-size: cover;
    z-index: 7;
  }
  
  .bg-vid {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  #particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  /* ----------------------------------------------------------------
       [ End Header ]
  -----------------------------------------------------------------*/
  /* ----------------------------------------------------------------
       [ 05 Start Hero ]
  -----------------------------------------------------------------*/
  .hero .intro h3 {
    margin-bottom: 10px;
  }
  .hero .intro h4 {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;
    font-weight: 500;
  }
  .hero .intro h4:after {
    content: '';
    width: 60px;
    height: 2px;
    background: #2AAFC0;
    position: absolute;
    bottom: 0;
    left: calc(50% - 30px);
  }
  .hero .intro p {
    width: 90%;
    margin: auto;
  }
  .hero .item .icon {
    width: 80px;
    height: 80px;
    line-height: 90px;
    border: 1px solid #eee;
    border-radius: 50%;
    font-size: 40px;
    color: #2AAFC0;
    margin-bottom: 40px;
    position: relative;
  }
  .hero .item .icon:after {
    content: '';
    width: 20px;
    height: 1px;
    background: #2AAFC0;
    position: absolute;
    left: calc(50% - 10px);
    bottom: -20px;
  }
  .hero .item h5 {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 20px;
  }
  .hero .hero-img {
    padding: 0 30px;
    position: relative;
  }
  .hero .hero-img img {
    position: relative;
    z-index: 2;
  }
  .hero .hero-img:after {
    content: '';
    position: absolute;
    top: -30px;
    left: 0px;
    bottom: 30px;
    right: 60px;
    background: #2AAFC0;
    background: -webkit-gradient(linear, left bottom, left top, from(#2AAFC0), to(#6976c5));
    background: linear-gradient(to top, #2AAFC0, #6976c5);
    z-index: -1;
  }
  .hero .hero-img:before {
    content: '';
    position: absolute;
    top: -20px;
    left: 10px;
    bottom: 40px;
    right: 70px;
    background: #fff;
    z-index: 1;
  }
  .hero .content {
    padding-top: 30px;
  }
  .hero .content .sub-title {
    margin: 10px 0 15px;
    letter-spacing: 2px;
  }
  .hero .content p {
    margin-top: 15px;
  }
  .hero .content .butn {
    margin-left: 0;
  }
  
  /* ----------------------------------------------------------------
       [ End Hero ]
  -----------------------------------------------------------------*/
  /* ----------------------------------------------------------------
       [ 06 section-box ]
  -----------------------------------------------------------------*/
  .section-box .half-img {
    background-position: 50% 50%;
  }
  .section-box .half-content {
    padding: 30px;
  }
  .section-box .box-white {
    padding: 100px 10%;
    background: #fff;
    -webkit-box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.08);
            box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.08);
  }
  .section-box .skills .skill-item {
    margin-bottom: 30px;
  }
  .section-box .skills .skill-item:last-child {
    margin-bottom: 0;
  }
  .section-box .skills .skill-item h6 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .section-box .skills .skill-progress {
    width: 100%;
    height: 26px;
    border: 4px solid #f7f7f7;
    background: #f7f7f7;
    border-radius: 20px;
    position: relative;
    -webkit-box-shadow: 0px -10px 30px rgba(0, 0, 0, 0.08) inset;
            box-shadow: 0px -10px 30px rgba(0, 0, 0, 0.08) inset;
  }
  .section-box .skills .skill-progress .progres {
    position: absolute;
    height: 100%;
    width: 0;
    left: 0;
    top: 0;
    background: #2AAFC0;
    background: -webkit-gradient(linear, left top, right top, from(#2AAFC0), to(#6976c5));
    background: linear-gradient(to right, #2AAFC0, #6976c5);
    border-radius: 20px;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .section-box .skills .skill-progress .progres:before {
    content: attr(data-value);
    padding: 4px 10px 3px;
    border-radius: 10px;
    font-size: 10px;
    color: #fff;
    background: #2AAFC0;
    background: -webkit-gradient(linear, left top, right top, from(#2AAFC0), to(#6976c5));
    background: linear-gradient(to right, #2AAFC0, #6976c5);
    position: absolute;
    top: -35px;
    right: 0;
  }
  .section-box .skills .skill-progress .progres:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 5px solid #2AAFC0;
    position: absolute;
    top: -12px;
    right: 15px;
  }
  .section-box .accordion .item {
    margin-bottom: 30px;
  }
  .section-box .accordion .title {
    padding: 10px 20px;
    background: #fff;
    -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    cursor: pointer;
    position: relative;
  }
  .section-box .accordion .title:after {
    content: '\f067';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 12px;
    position: absolute;
    top: 12px;
    right: 20px;
  }
  .section-box .accordion .title h6 {
    font-size: 16px;
    font-weight: 500;
  }
  .section-box .accordion .accordion-info {
    display: none;
    padding: 0px 15px;
    margin-top: 30px;
    border-left: 1px dotted #ccc;
  }
  .section-box .accordion .accordion-info .spac {
    margin-top: 30px;
    padding-left: 30px;
  }
  .section-box .accordion .accordion-info .spac h6 {
    position: relative;
    margin-bottom: 15px;
  }
  .section-box .accordion .accordion-info .spac h6:after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #555;
    position: absolute;
    top: 3px;
    left: -15px;
  }
  .section-box .accordion .accordion-info .spac ul {
    padding-left: 30px;
  }
  .section-box .accordion .accordion-info .spac li {
    margin-bottom: 10px;
    position: relative;
    font-size: 15px;
  }
  .section-box .accordion .accordion-info .spac li:after {
    content: "";
    width: 6px;
    height: 6px;
    border: 1px solid #222;
    border-radius: 50%;
    position: absolute;
    top: 9px;
    left: -15px;
  }
  .section-box .accordion .active {
    display: block;
  }
  .section-box .accordion .active .title {
    color: #fff;
    background: #2AAFC0;
    background: -webkit-gradient(linear, left top, right top, from(#2AAFC0), to(#6976c5));
    background: linear-gradient(to right, #2AAFC0, #6976c5);
    -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  }
  .section-box .accordion .active .title:after {
    content: '\f068';
  }
  .section-box .vid-butn {
    font-size: 70px;
    color: #2AAFC0;
    position: relative;
    width: 70px;
    height: 70px;
    line-height: 70px;
    z-index: 3;
  }
  .section-box .vid-butn:hover:after {
    -webkit-transform: scale(2, 2);
            transform: scale(2, 2);
    opacity: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .section-box .vid-butn:after {
    content: '';
    position: absolute;
    top: -10px;
    bottom: -10px;
    right: -10px;
    left: -10px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    z-index: -1;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .section-box .vid-butn:before {
    content: '';
    position: absolute;
    top: -5px;
    bottom: -5px;
    right: -5px;
    left: -5px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    z-index: -1;
  }
  
  /* ----------------------------------------------------------------
       [ End section-box ]
  -----------------------------------------------------------------*/
  /* ----------------------------------------------------------------
       [ 07 Start Services ]
  -----------------------------------------------------------------*/
  .services .item {
    text-align: center;
    padding: 30px 15px;
  }
  .services .item .icon {
    font-size: 40px;
    color: #2AAFC0;
    margin-bottom: 15px;
  }
  .services .item h6 {
    margin-bottom: 10px;
    font-weight: 500;
  }
  .services .bord {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }
  .services hr {
    height: 1px;
    width: 100%;
    border: 0;
    display: block;
    background: #eee;
  }
  
  /* ----------------------------------------------------------------
       [ End Services ]
  -----------------------------------------------------------------*/
  /* ----------------------------------------------------------------
       [ 08 Start Numbers ]
  -----------------------------------------------------------------*/
  .numbers .icon {
    font-size: 45px;
    color: #2AAFC0;
    margin-bottom: 30px;
  }
  .numbers h3 {
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .numbers h6 {
    font-weight: 300;
  }
  
  /* ----------------------------------------------------------------
       [ End Numbers ]
  -----------------------------------------------------------------*/
  /* ----------------------------------------------------------------
       [ 09 Start Works ]
  -----------------------------------------------------------------*/
  .works .row {
    padding: 0 15px;
  }
  .works .filtering .filter {
    display: inline-block;
    padding: 2px 10px;
    border: 1px solid #eee;
    border-radius: 30px;
  }
  .works .filtering span {
    margin: 0 5px;
    padding: 8px 15px;
    border-radius: 30px;
    cursor: pointer;
  }
  .works .filtering .active {
    background: #2AAFC0;
    background: -webkit-gradient(linear, left top, right top, from(#2AAFC0), to(#6976c5));
    background: linear-gradient(to right, #2AAFC0, #6976c5);
    -webkit-box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2);
    color: #fff;
  }
  .works .item-img {
    position: relative;
    margin-top: 30px;
  }
  .works .item-img:hover .item-img-overlay {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
  .works .item-img-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: rgba(255, 255, 255, 0.95);
    opacity: 0;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .works .item-img-overlay:after {
    content: '';
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    background: rgba(255, 255, 255, 0.5);
    z-index: -1;
  }
  .works .item-img-overlay .icon {
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: #f1f1f1;
    margin: 15px 5px 0;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .works .item-img-overlay .icon:hover {
    background: #2AAFC0;
    color: #fff;
  }
  .works .item-img-overlay .icon:before {
    line-height: 2;
  }
  .works .item-img-overlay p {
    color: #2AAFC0;
    font-weight: 400;
  }
  .works .item-img-overlay h6 {
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 1px;
    margin-top: 5px;
  }
  
  /* ----------------------------------------------------------------
       [ End Works ]
  -----------------------------------------------------------------*/
  /* ----------------------------------------------------------------
       [ 10 Start Team ]
  -----------------------------------------------------------------*/
  .team .item {
    border: 1px solid rgba(42, 175, 192, 0.3);
    border-radius: 100px;
    overflow: hidden;
    position: relative;
  }
  .team .item:hover {
    background: #2AAFC0;
    background: -webkit-gradient(linear, left top, right top, from(#2AAFC0), to(#6976c5));
    background: linear-gradient(to right, #2AAFC0, #6976c5);
    color: #fff;
  }
  .team .item:hover .team-img {
    border-color: #2AAFC0;
  }
  .team .item:hover span {
    color: #eee !important;
  }
  .team .item:hover p {
    color: #ccc;
  }
  .team .item .team-img {
    float: left;
    width: 170px;
    height: 170px;
    border: 5px solid #fff;
    border-radius: 50%;
    overflow: hidden;
  }
  .team .item .info {
    padding: 15px 15px 15px 0;
    margin-left: 200px;
  }
  .team .item .info h6 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 5px;
  }
  .team .item .info span {
    font-size: 13px;
    margin-bottom: 10px;
    color: #2AAFC0;
  }
  .team .item .info p {
    margin-bottom: 10px;
  }
  .team .item .info .icon {
    margin: 0 5px;
  }
  
  /* ----------------------------------------------------------------
       [ End Team ]
  -----------------------------------------------------------------*/
  /* ----------------------------------------------------------------
       [ 11 Start Price ]
  -----------------------------------------------------------------*/
  .price .pricing-tables {
    padding: 0 50px;
  }
  .price .item {
    padding: 30px;
    background: #fff;
    -webkit-box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  .price .item .type {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
  }
  .price .item .type img {
    position: absolute;
    bottom: -10px;
    left: -30px;
    width: calc(100% + 60px);
  }
  .price .item .type h4 {
    font-size: 20px;
    font-weight: 500;
  }
  .price .item .value {
    margin: 30px 0;
  }
  .price .item .value h3 {
    font-size: 55px;
  }
  .price .item .value h3 span {
    font-size: 15px;
  }
  .price .item .value .per {
    font-size: 13px;
    margin-top: 5px;
    color: #2AAFC0;
  }
  .price .item .features {
    text-align: left;
    overflow: hidden;
    padding: 15px 0;
  }
  .price .item .features ul {
    margin-bottom: 0;
  }
  .price .item .features li {
    margin-bottom: 15px;
  }
  .price .item .features li:last-child {
    margin-bottom: 0;
  }
  .price .item .features li .true {
    color: #3ff312;
  }
  .price .item .features li .false {
    color: #ec126d;
  }
  .price .item .features i {
    float: right;
    font-size: 11px;
  }
  .price .item .order {
    margin-top: 30px;
  }
  .price .item .order .butn {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .price .item.active {
    color: #fff;
    position: relative;
    -webkit-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05);
    z-index: 2;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .price .item.active:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2AAFC0;
    background: -webkit-gradient(linear, left top, left bottom, from(#2AAFC0), to(#6976c5));
    background: linear-gradient(to bottom, #2AAFC0, #6976c5);
    z-index: -1;
    opacity: .9;
  }
  .price .item.active .value .per {
    color: #eee;
  }
  
  /* ----------------------------------------------------------------
       [ End Price ]
  -----------------------------------------------------------------*/
  /* ----------------------------------------------------------------
       [ 12 Start Testimonials ]
  -----------------------------------------------------------------*/
  .testimonials .icon {
    width: 80px;
    margin-bottom: 15px;
  }
  .testimonials h5 {
    font-weight: 400;
    margin-bottom: 80px;
  }
  .testimonials .item .client-img {
    width: 90px;
    height: 90px;
    margin: 0 auto 15px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid rgba(200, 200, 200, 0.15);
  }
  .testimonials .item h6 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 30px;
  }
  .testimonials .item h6 span {
    display: block;
    color: #2AAFC0;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
  }
  .testimonials .item p {
    padding: 30px;
    color: #eee;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.1);
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(200, 200, 200, 0.1)), to(transparent));
    background: linear-gradient(to right, transparent, rgba(200, 200, 200, 0.1), transparent);
  }
  .testimonials .owl-theme .owl-nav [class*=owl-] {
    width: 40px;
    height: 40px;
    line-height: 35px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    margin: 20px 5px 0;
  }
  .testimonials .owl-theme .owl-nav [class*=owl-]:hover {
    background: #2AAFC0;
  }
  
  /* ----------------------------------------------------------------
       [ End Testimonials ]
  -----------------------------------------------------------------*/
  /* ----------------------------------------------------------------
       [ 13 Start Blog ]
  -----------------------------------------------------------------*/
  .blog .item {
    -webkit-box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.08);
            box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.08);
    background: #fff;
    border-radius: 10px;
  }
  .blog .item .post-img {
    padding: 15px;
  }
  .blog .item .post-img .img {
    overflow: hidden;
  }
  .blog .item .post-img:hover img {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  .blog .item .post-img img {
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .blog .item .cont {
    padding: 15px 15px 30px;
  }
  .blog .item .info {
    margin-bottom: 10px;
  }
  .blog .item .info a {
    color: #999;
    font-size: 12px;
    margin: 0 5px 5px;
  }
  .blog .item h6 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  .blog-nav {
    position: static !important;
    background: #fff !important;
    margin: 0;
  }
  .blog-nav .logo {
    color: #1c1c1c !important;
  }
  .blog-nav .navbar-nav li a {
    color: #1c1c1c !important;
    font-weight: 500;
  }
  
  .min-header {
    height: 40vh;
    background: #1c1c1c;
    position: relative;
  }
  .min-header h5 {
    font-weight: 800;
    letter-spacing: 1px;
    color: #ccc;
    margin-bottom: 15px;
  }
  .min-header a {
    position: relative;
    color: #ddd;
  }
  .min-header a:after {
    content: '/';
    position: relative;
    margin: 0 10px;
  }
  .min-header a:last-child:after {
    display: none;
  }
  
  .blogs .posts .post {
    margin-bottom: 50px;
    border-bottom: 1px solid #eee;
  }
  .blogs .posts .post .content {
    padding: 50px 15px;
    background: #fff;
  }
  .blogs .posts .post .content .post-title h5 {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  .blogs .posts .post .content .meta {
    margin-bottom: 20px;
  }
  .blogs .posts .post .content .meta li {
    display: inline-block;
    font-size: 12px;
    color: #777;
    margin: 5px;
  }
  .blogs .posts .post .content p {
    font-weight: 300;
  }
  .blogs .posts .post .content .spical {
    padding: 15px;
    margin: 30px 0;
    border-left: 2px solid #111;
    background: #f7f7f7;
    font-size: 16px;
  }
  .blogs .posts .post .share-post {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px dashed #eee;
    text-align: left;
  }
  .blogs .posts .post .share-post span {
    font-weight: 700;
  }
  .blogs .posts .post .share-post ul {
    float: right;
  }
  .blogs .posts .post .share-post ul li {
    display: inline-block;
    margin: 0 10px;
  }
  .blogs .posts .title-g h3 {
    font-weight: 800;
    font-size: 25px;
  }
  .blogs .posts .comments-area .comment-box {
    padding-bottom: 30px;
    margin-bottom: 50px;
    border-bottom: 1px solid #eee;
  }
  .blogs .posts .comments-area .comment-box:nth-child(odd) {
    margin-left: 80px;
  }
  .blogs .posts .comments-area .comment-box:last-child {
    margin-bottom: 0;
  }
  .blogs .posts .comments-area .comment-box .author-thumb {
    width: 80px;
    float: left;
  }
  .blogs .posts .comments-area .comment-box .comment-info {
    margin-left: 100px;
  }
  .blogs .posts .comments-area .comment-box .comment-info h6 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .blogs .posts .comments-area .comment-box .comment-info .reply {
    margin-top: 10px;
    font-weight: 600;
  }
  .blogs .posts .comments-area .comment-box .comment-info .reply i {
    padding-right: 5px;
    font-size: 12px;
  }
  .blogs .posts .comment-form .form input[type='text'],
  .blogs .posts .comment-form .form input[type='email'],
  .blogs .posts .comment-form .form textarea {
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    background: #f4f4f4;
  }
  .blogs .posts .comment-form .form textarea {
    height: 160px;
    max-height: 160px;
    max-width: 100%;
  }
  .blogs .posts .pagination {
    display: block;
    text-align: center;
  }
  .blogs .posts .pagination li {
    display: inline-block;
    padding: 5px 10px;
    margin: 2px;
    border: 1px solid #ddd;
  }
  .blogs .side-bar .widget {
    margin-bottom: 50px;
  }
  .blogs .side-bar .widget:last-child {
    margin-bottom: 0;
  }
  .blogs .side-bar .widget .widget-title {
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
  }
  .blogs .side-bar .widget .widget-title h6 {
    position: relative;
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .blogs .side-bar .widget .widget-title h6:after {
    content: '';
    width: 30px;
    height: 1px;
    background: #2AAFC0;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .blogs .side-bar .widget li {
    margin-bottom: 10px;
    color: #777;
  }
  .blogs .side-bar .widget li:last-child {
    margin: 0;
  }
  .blogs .side-bar .search form input {
    width: calc(100% - 52px);
    height: 50px;
    padding: 0 10px;
    border: 0;
    background: #f7f7f7;
  }
  .blogs .side-bar .search form button {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #1c1c1c;
    color: #fff;
    border: 0;
    float: right;
  }
  
  /* ----------------------------------------------------------------
       [ End Blog ]
  -----------------------------------------------------------------*/
  /* ----------------------------------------------------------------
       [ 14 Start Subscribe ]
  -----------------------------------------------------------------*/
  .subscribe {
    background-size: auto;
    background-repeat: repeat;
  }
  .subscribe h4 {
    font-weight: 500;
    margin-bottom: 50px;
  }
  .subscribe form {
    position: relative;
  }
  .subscribe input {
    padding: 14px 10px;
    width: 100%;
    margin: auto;
    border: 0;
    background: #fff;
    border-radius: 30px;
    -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  }
  .subscribe .butn {
    cursor: pointer;
    padding: 10px 0;
    width: 140px;
    border: 1px solid transparent;
    border-radius: 30px;
    position: absolute;
    top: 4px;
    right: -6px;
    -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    background: -webkit-gradient(linear, left top, right top, from(#2AAFC0), to(#6976c5));
    background: linear-gradient(to right, #2AAFC0, #6976c5);
  }
  .subscribe .butn:hover {
    border-color: #2AAFC0;
  }
  
  /* ----------------------------------------------------------------
       [ End Subscribe ]
  -----------------------------------------------------------------*/
  /* ----------------------------------------------------------------
       [ 15 Start Contact-Info ]
  -----------------------------------------------------------------*/
  .contact-info .info {
    padding: 100px 5%;
  }
  .contact-info .info .gradient {
    position: relative;
    z-index: 3;
  }
  .contact-info .info .item {
    margin-bottom: 50px;
  }
  .contact-info .info .item .icon {
    float: left;
    font-size: 35px;
    color: #2AAFC0;
  }
  .contact-info .info .item .cont {
    margin-left: 60px;
  }
  .contact-info .info .item h6 {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 5px;
  }
  .contact-info .info .social a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    color: #fff;
    background: rgba(200, 200, 200, 0.1);
    font-size: 15px;
    text-align: center;
  }
  .contact-info .info .social a:hover {
    background: #2AAFC0;
  }
  .contact-info .map {
    position: relative;
  }
  .contact-info .map #ieatmaps {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  /* ----------------------------------------------------------------
       [ End Contact-Info ]
  -----------------------------------------------------------------*/
  /* ----------------------------------------------------------------
       [ 16 Start Contact ]
  -----------------------------------------------------------------*/
  .contact .form input, .contact .form textarea {
    width: 100%;
    padding: 15px;
    background: #F7F7F7;
    border: 0;
    border-radius: 10px;
  }
  .contact .form textarea {
    height: 140px;
    max-height: 140px;
    max-width: 100%;
  }
  .contact .form button {
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    padding: 10px;
    color: #fff;
    background: #2AAFC0;
    background: -webkit-gradient(linear, left top, right top, from(#2AAFC0), to(#6976c5));
    background: linear-gradient(to right, #2AAFC0, #6976c5);
    -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
  }
  .contact .form button:hover {
    background: #2AAFC0;
  }
  
  /* ----------------------------------------------------------------
       [ End Contact ]
  -----------------------------------------------------------------*/
  /* ----------------------------------------------------------------
       [ 17 Start Footer ]
  -----------------------------------------------------------------*/
  footer {
    background: #111;
    padding: 80px 0;
  }
  footer .social a {
    color: #fff;
    font-size: 13px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    background: #222;
    margin: 15px 5px;
  }
  footer .social a:hover {
    background: #2AAFC0;
  }
  footer p {
    color: #999;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  /* ----------------------------------------------------------------
       [ End Footer ]
  -----------------------------------------------------------------*/
  /* ----------------------------------------------------------------
        [ 18 Responsive ]
  -----------------------------------------------------------------*/
  @media screen and (max-width: 991px) {
    .mb-md50 {
      margin-bottom: 50px;
    }
  
    .mb-md30 {
      margin-bottom: 30px;
    }
  
    .mb-md0 {
      margin-bottom: 0;
    }
  
    .bgimg-height {
      height: 400px;
    }
  
    .bg-fixed {
      background-attachment: scroll !important;
    }
  
    .navbar {
      padding-left: 15px;
    }
    .navbar .navbar-collapse {
      max-height: 340px;
      overflow: auto;
      background: #111;
      text-align: center;
      padding: 10px 0;
    }
    .navbar .nav-link {
      margin: 10px auto !important;
    }
  
    .nav-scroll .navbar-collapse .nav-link {
      color: #fff !important;
    }
    .nav-scroll .navbar-collapse .active {
      color: #2AAFC0 !important;
    }
  
    .header {
      background-attachment: scroll !important;
      background-position: 50% 0% !important;
    }
    .header .caption h4 {
      font-size: 30px;
    }
    .header .caption h1 {
      font-size: 45px;
      line-height: 1.4;
    }
  
    .services .item {
      padding: 0;
    }
    .services .bord {
      border: 0;
    }
    .services hr {
      display: none;
    }
  }
  @media screen and (max-width: 767px) {
    .mb-sm50 {
      margin-bottom: 50px;
    }
  
    .mb-sm30 {
      margin-bottom: 30px;
    }
  
    .section-box h3 {
      font-size: 25px;
      line-height: 1.3;
    }
  
    .hero .intro h3 {
      font-size: 28px;
    }
  
    .hero .intro h4 {
      font-size: 20px;
    }
  
    .subscribe h4 {
      font-size: 20px;
      margin-bottom: 30px;
    }
  
    .bgimg-height-sm {
      height: 400px;
    }
  
    .header .caption h4 {
      font-size: 16px;
    }
    .header .caption h1 {
      font-size: 25px;
    }
    .header .caption p {
      font-size: 14px;
    }
    .header .caption p span {
      font-size: 12px;
      letter-spacing: 1px;
    }
  
    .portfolio .filtering span {
      margin-bottom: 10px;
    }
  }
  @media screen and (max-width: 480px) {
    .section-head h4 {
      font-size: 25px;
    }
  
    .section-box .accordion .title h6 {
      line-height: 1.5;
      font-size: 14px;
    }
  
    .section-box .half-content {
      padding: 15px;
    }
  
    .works .filtering .filter {
      border: 0;
      padding: 0;
    }
  
    .works .filtering span {
      margin: 0 0 5px;
    }
  
    .team .item {
      text-align: center;
      padding: 30px;
    }
    .team .item .team-img {
      float: none;
      width: 180px;
      height: 180px;
      margin: auto;
    }
    .team .item .info {
      margin-top: 30px;
      margin-left: 0;
    }
  
    .price .pricing-tables {
      padding: 0 30px;
    }
  
    .subscribe input {
      width: 100%;
      margin-bottom: 15px;
      border-radius: 30px;
    }
  
    .subscribe .butn {
      border-radius: 30px;
    }
  }
  .butn-float{
      position:fixed;
      width:60px;
      height:60px;
      bottom:40px;
      right:40px;
      background-color:#25d366;
      color:#FFF;
      border-radius:50px;
      text-align:center;
    font-size:30px;
      box-shadow: 2px 2px 3px #999;
    z-index:100;
  }
  
  .butn-float:hover {
    color: #f0f0f0;
  }
  
  .butn-float .my-float{
    margin-top: 15px;
    margin-left: 2px;
  }
  
  /*# sourceMappingURL=style.css.map */